@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_uvqihizzlsb.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_uvqihizzlsb.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_uvqihizzlsb.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_uvqihizzlsb.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_uvqihizzlsb.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_uvqihizzlsb.svg#AlibabaPuHuiTiM') format('svg');
  /* iOS 4.1- */
}
.disItem {
  font-family:'webfont';
  display: flex;
  font-size: 34px;
  padding-bottom: 20px;
  justify-content: center;

  .a1 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-right: 50px;
    font-weight: bold;
    font-family: 'SF Pro SC', 'SF Pro Display', 'SF Pro Icons', 'PingFang SC', 'Helvetica Neue',
      'Helvetica', 'Arial', sans-serif;
    text-align: right;
  }

  .a2 {
    flex: 1;
    height: 50px;
    line-height: 50px;
    color: #a1a1a6;
    text-align: left;
  }
}
