@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_uvqihizzlsb.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_uvqihizzlsb.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_uvqihizzlsb.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_uvqihizzlsb.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_uvqihizzlsb.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_uvqihizzlsb.svg#AlibabaPuHuiTiM') format('svg');
  /* iOS 4.1- */
}
.navImg {
  width: 60px;
}

.navDiv {
  text-align: center;
}

.navContainer {
  text-align: center;
  min-height: 45vh;
}

.pcmore {
  color: #ccc;
  margin-top: 300px;
  img {
    height: 70px;
  }
}

.QuickTop {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  
  height: 180px;
 background-image: linear-gradient(#77b7f9, #d0e4ff);

  font-size: 26px;
  display: flex;
  justify-content: center;
  .first {
    display: flex;
    align-items: center;
    .userName {
      margin-left: 15px;
      font-weight: bold;
    }
    flex: 1;
    justify-content: center;
  }
  .second {
    flex: 1;
    .mylabel {
      color: #000;
    }
    .valye {
      color: #1fba3c;
      font-size: 45px;
      margin-top: 5px;
      font-weight: bold;
      font-family: 'webfont';
    }
  }
}
