.navImg {
  width: 60px;
}

.navDiv {
  text-align: center;
}

.navContainer {
  text-align: center;
  min-height: 45vh;
}

.QuickTop {
  padding: 0 50px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .welcome{
    margin-left: 100px;
  }
  margin-bottom: 80px;
}
