@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_uvqihizzlsb.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_uvqihizzlsb.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_uvqihizzlsb.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_uvqihizzlsb.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_uvqihizzlsb.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_uvqihizzlsb.svg#AlibabaPuHuiTiM') format('svg');
  /* iOS 4.1- */
}

.viewItem {
  .a1 {
    height: 30px;
    background-color: rgb(0, 87, 183) ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 
  }

  .a2 {
    height: 30px;
    background-color: rgb(255, 215, 0) ;
     
  }

  font-family: webfont;
  background-color:#ffffff;
  margin-bottom: 3px;
  padding: 10px 20px;
  font-size: 30px;

  .cc{
    margin-bottom: 12px;
    display: flex;

    .newtitle {
      width: 140px;
      color: #828282;
      padding-left: 10px;
    }

    .content {
      color: #2b2b2b;
    }
  }

   .steps {
    font-size: 30px;
    color: #ccc;
    min-width: 40px;
    text-align: left;
    margin-right: 35px;
  }
}